* {
  margin: 0;
  padding: p;
}

body {
  background: #333333;
}

.canvas {
  height: 70vh;
  width: 100vw;
  border: solid black 2px;
  overflow: none;
  box-sizing: border-box;
  background: white;
  margin: 0 auto;
}

.point {
  z-index: 9;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: black;
}

img {
  display: block;
  height: 300px;
  width: auto;
  margin: auto;
}

.panel {
  position: absolute;
  background: #222222;
  z-index: 10;
  width: 100vw;
  height: 100%;
}